<html>
<table style="text-align:center"><tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>variable</td><td>post.mean</td><td>l.95..CI</td><td>u.95..CI</td><td>eff.samp</td><td>pMCMC</td><td>effect</td></tr>
<tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>year</td><td>0.02</td><td>-0.17</td><td>0.19</td><td>3,161.00</td><td>0.82</td><td>fixed</td></tr>
<tr><td style="text-align:left">2</td><td>SpeciesAlectoria ochroleuca</td><td>-44.54</td><td>-390.16</td><td>337.57</td><td>3,161.14</td><td>0.82</td><td>fixed</td></tr>
<tr><td style="text-align:left">3</td><td>SpeciesArctagrostis latifolia</td><td>-1,380.52</td><td>-1,742.35</td><td>-1,007.63</td><td>2,747.74</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">4</td><td>SpeciesAstralagus umbelletus</td><td>-12.76</td><td>-370.05</td><td>341.93</td><td>3,000</td><td>0.95</td><td>fixed</td></tr>
<tr><td style="text-align:left">5</td><td>SpeciesCardamine bellidifolia</td><td>-17.00</td><td>-376.84</td><td>353.36</td><td>3,000</td><td>0.94</td><td>fixed</td></tr>
<tr><td style="text-align:left">6</td><td>SpeciesCardamine digitalis</td><td>-157.78</td><td>-513.18</td><td>228.45</td><td>3,000</td><td>0.41</td><td>fixed</td></tr>
<tr><td style="text-align:left">7</td><td>SpeciesCassiope tetragona</td><td>48.71</td><td>-317.92</td><td>408.90</td><td>3,352.10</td><td>0.79</td><td>fixed</td></tr>
<tr><td style="text-align:left">8</td><td>SpeciesCetraria cucculata</td><td>466.30</td><td>104.96</td><td>836.42</td><td>3,000</td><td>0.01</td><td>fixed</td></tr>
<tr><td style="text-align:left">9</td><td>SpeciesCetraria islandica</td><td>307.51</td><td>-96.58</td><td>663.79</td><td>3,000</td><td>0.12</td><td>fixed</td></tr>
<tr><td style="text-align:left">10</td><td>SpeciesCetraria nivalis</td><td>-5.48</td><td>-374.91</td><td>373.25</td><td>2,691.42</td><td>0.98</td><td>fixed</td></tr>
<tr><td style="text-align:left">11</td><td>SpeciesCladina mitis</td><td>-24.01</td><td>-388.23</td><td>349.73</td><td>2,550.50</td><td>0.90</td><td>fixed</td></tr>
<tr><td style="text-align:left">12</td><td>SpeciesDactylina arctica</td><td>67.88</td><td>-289.85</td><td>442.50</td><td>2,780.66</td><td>0.72</td><td>fixed</td></tr>
<tr><td style="text-align:left">13</td><td>SpeciesDryas integrifolia</td><td>57.85</td><td>-309.72</td><td>414.51</td><td>3,000</td><td>0.76</td><td>fixed</td></tr>
<tr><td style="text-align:left">14</td><td>SpeciesEriophorum angustifolium</td><td>-395.22</td><td>-743.53</td><td>-21.58</td><td>2,975.10</td><td>0.03</td><td>fixed</td></tr>
<tr><td style="text-align:left">15</td><td>SpeciesEriophorum vaginatum</td><td>-3,376.96</td><td>-3,720.16</td><td>-2,978.41</td><td>3,000</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">16</td><td>SpeciesFestuca baffinensis</td><td>-132.01</td><td>-490.72</td><td>261.99</td><td>3,000</td><td>0.50</td><td>fixed</td></tr>
<tr><td style="text-align:left">17</td><td>SpeciesHierochloe alpine</td><td>8.49</td><td>-362.82</td><td>375.74</td><td>3,000</td><td>0.97</td><td>fixed</td></tr>
<tr><td style="text-align:left">18</td><td>SpeciesKobresia myotosoides</td><td>-58.48</td><td>-427.57</td><td>291.99</td><td>3,000</td><td>0.74</td><td>fixed</td></tr>
<tr><td style="text-align:left">19</td><td>SpeciesKobresia sibirica</td><td>-17.97</td><td>-402.81</td><td>334.35</td><td>3,000</td><td>0.94</td><td>fixed</td></tr>
<tr><td style="text-align:left">20</td><td>SpeciesLagostis glauca</td><td>-30.80</td><td>-402.00</td><td>351.39</td><td>3,000</td><td>0.87</td><td>fixed</td></tr>
<tr><td style="text-align:left">21</td><td>SpeciesLupinus arcticus</td><td>58.01</td><td>-317.92</td><td>408.76</td><td>3,000</td><td>0.76</td><td>fixed</td></tr>
<tr><td style="text-align:left">22</td><td>SpeciesLuzula arctica</td><td>-224.17</td><td>-609.38</td><td>125.68</td><td>2,643.39</td><td>0.24</td><td>fixed</td></tr>
<tr><td style="text-align:left">23</td><td>SpeciesPapaver radicatum</td><td>-8.66</td><td>-389.43</td><td>344.64</td><td>3,000</td><td>0.97</td><td>fixed</td></tr>
<tr><td style="text-align:left">24</td><td>SpeciesPedicularis capitata</td><td>-48.84</td><td>-432.98</td><td>316.85</td><td>3,000</td><td>0.79</td><td>fixed</td></tr>
<tr><td style="text-align:left">25</td><td>SpeciesPedicularis lanata</td><td>76.18</td><td>-304.09</td><td>434.69</td><td>3,000</td><td>0.68</td><td>fixed</td></tr>
<tr><td style="text-align:left">26</td><td>SpeciesPedicularis longsdorfi</td><td>6.95</td><td>-380.35</td><td>377.43</td><td>3,000</td><td>0.97</td><td>fixed</td></tr>
<tr><td style="text-align:left">27</td><td>SpeciesPedicularis sudetica</td><td>16.64</td><td>-374.61</td><td>380.91</td><td>3,485.94</td><td>0.93</td><td>fixed</td></tr>
<tr><td style="text-align:left">28</td><td>SpeciesPedicularis vertisilata</td><td>-5.40</td><td>-405.57</td><td>344.05</td><td>3,000</td><td>0.99</td><td>fixed</td></tr>
<tr><td style="text-align:left">29</td><td>SpeciesPoa alpina</td><td>1.10</td><td>-347.54</td><td>393.77</td><td>3,000</td><td>0.99</td><td>fixed</td></tr>
<tr><td style="text-align:left">30</td><td>SpeciesPoa arctica</td><td>-990.89</td><td>-1,355.42</td><td>-630.89</td><td>3,000</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">31</td><td>SpeciesPolygonum bistorta</td><td>-297.98</td><td>-679.40</td><td>91.56</td><td>2,807.55</td><td>0.14</td><td>fixed</td></tr>
<tr><td style="text-align:left">32</td><td>SpeciesPolygonum viviparum</td><td>1.50</td><td>-367.16</td><td>350.32</td><td>3,000</td><td>0.99</td><td>fixed</td></tr>
<tr><td style="text-align:left">33</td><td>SpeciesPyrola grandiflora</td><td>10.45</td><td>-347.06</td><td>387.97</td><td>3,000</td><td>0.95</td><td>fixed</td></tr>
<tr><td style="text-align:left">34</td><td>SpeciesSalix arctica</td><td>38.29</td><td>-335.88</td><td>395.12</td><td>3,000</td><td>0.82</td><td>fixed</td></tr>
<tr><td style="text-align:left">35</td><td>SpeciesSalix phlebophylla</td><td>-78.17</td><td>-433.32</td><td>289.89</td><td>3,000</td><td>0.66</td><td>fixed</td></tr>
<tr><td style="text-align:left">36</td><td>SpeciesSalix pulchra</td><td>-1,918.01</td><td>-2,280.98</td><td>-1,567.90</td><td>3,000</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">37</td><td>SpeciesSalix reticulata</td><td>-384.43</td><td>-743.00</td><td>-18.68</td><td>3,000</td><td>0.04</td><td>fixed</td></tr>
<tr><td style="text-align:left">38</td><td>SpeciesSaussurea angustifolia</td><td>5.07</td><td>-365.74</td><td>360.89</td><td>2,604.71</td><td>0.97</td><td>fixed</td></tr>
<tr><td style="text-align:left">39</td><td>SpeciesSaxifraga nelsoniana</td><td>-34.60</td><td>-406.63</td><td>340.76</td><td>3,000</td><td>0.86</td><td>fixed</td></tr>
<tr><td style="text-align:left">40</td><td>SpeciesSenecio astropurpureus</td><td>75.65</td><td>-287.86</td><td>449.08</td><td>3,000</td><td>0.70</td><td>fixed</td></tr>
<tr><td style="text-align:left">41</td><td>SpeciesStellaria longipes</td><td>-209.60</td><td>-587.36</td><td>134.51</td><td>3,000</td><td>0.25</td><td>fixed</td></tr>
<tr><td style="text-align:left">42</td><td>SpeciesThamnolia subuliformis</td><td>343.15</td><td>-15.72</td><td>709.22</td><td>3,000</td><td>0.07</td><td>fixed</td></tr>
<tr><td style="text-align:left">43</td><td>SpeciesValeriana capitata</td><td>-7.05</td><td>-369.69</td><td>352.93</td><td>3,000</td><td>0.98</td><td>fixed</td></tr>
<tr><td style="text-align:left">44</td><td>year:SpeciesArctagrostis latifolia</td><td>0.67</td><td>0.43</td><td>0.91</td><td>3,000</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">45</td><td>year:SpeciesAstralagus umbelletus</td><td>-0.02</td><td>-0.24</td><td>0.24</td><td>3,000</td><td>0.90</td><td>fixed</td></tr>
<tr><td style="text-align:left">46</td><td>year:SpeciesCardamine bellidifolia</td><td>-0.01</td><td>-0.24</td><td>0.23</td><td>3,000</td><td>0.91</td><td>fixed</td></tr>
<tr><td style="text-align:left">47</td><td>year:SpeciesCardamine digitalis</td><td>0.06</td><td>-0.18</td><td>0.30</td><td>3,000</td><td>0.63</td><td>fixed</td></tr>
<tr><td style="text-align:left">48</td><td>year:SpeciesCassiope tetragona</td><td>-0.05</td><td>-0.29</td><td>0.18</td><td>3,156.62</td><td>0.72</td><td>fixed</td></tr>
<tr><td style="text-align:left">49</td><td>year:SpeciesCetraria cucculata</td><td>-0.25</td><td>-0.50</td><td>-0.02</td><td>3,000</td><td>0.04</td><td>fixed</td></tr>
<tr><td style="text-align:left">50</td><td>year:SpeciesCetraria islandica</td><td>-0.17</td><td>-0.42</td><td>0.05</td><td>3,000</td><td>0.15</td><td>fixed</td></tr>
<tr><td style="text-align:left">51</td><td>year:SpeciesCetraria nivalis</td><td>-0.02</td><td>-0.26</td><td>0.22</td><td>3,000</td><td>0.89</td><td>fixed</td></tr>
<tr><td style="text-align:left">52</td><td>year:SpeciesCladina mitis</td><td>-0.01</td><td>-0.24</td><td>0.22</td><td>3,000</td><td>0.93</td><td>fixed</td></tr>
<tr><td style="text-align:left">53</td><td>year:SpeciesDactylina arctica</td><td>-0.06</td><td>-0.29</td><td>0.17</td><td>3,000</td><td>0.66</td><td>fixed</td></tr>
<tr><td style="text-align:left">54</td><td>year:SpeciesDryas integrifolia</td><td>-0.05</td><td>-0.28</td><td>0.18</td><td>3,000</td><td>0.70</td><td>fixed</td></tr>
<tr><td style="text-align:left">55</td><td>year:SpeciesEriophorum angustifolium</td><td>0.18</td><td>-0.05</td><td>0.42</td><td>3,000</td><td>0.15</td><td>fixed</td></tr>
<tr><td style="text-align:left">56</td><td>year:SpeciesEriophorum vaginatum</td><td>1.69</td><td>1.47</td><td>1.94</td><td>3,000</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">57</td><td>year:SpeciesFestuca baffinensis</td><td>0.04</td><td>-0.19</td><td>0.29</td><td>3,392.63</td><td>0.73</td><td>fixed</td></tr>
<tr><td style="text-align:left">58</td><td>year:SpeciesHierochloe alpine</td><td>-0.03</td><td>-0.26</td><td>0.22</td><td>3,000</td><td>0.83</td><td>fixed</td></tr>
<tr><td style="text-align:left">59</td><td>year:SpeciesKobresia myotosoides</td><td>0.01</td><td>-0.23</td><td>0.23</td><td>3,000</td><td>0.96</td><td>fixed</td></tr>
<tr><td style="text-align:left">60</td><td>year:SpeciesKobresia sibirica</td><td>-0.01</td><td>-0.25</td><td>0.22</td><td>3,293.56</td><td>0.90</td><td>fixed</td></tr>
<tr><td style="text-align:left">61</td><td>year:SpeciesLagostis glauca</td><td>-0.01</td><td>-0.25</td><td>0.22</td><td>3,000</td><td>0.95</td><td>fixed</td></tr>
<tr><td style="text-align:left">62</td><td>year:SpeciesLupinus arcticus</td><td>-0.05</td><td>-0.29</td><td>0.18</td><td>3,346.14</td><td>0.69</td><td>fixed</td></tr>
<tr><td style="text-align:left">63</td><td>year:SpeciesLuzula arctica</td><td>0.09</td><td>-0.14</td><td>0.33</td><td>3,000</td><td>0.45</td><td>fixed</td></tr>
<tr><td style="text-align:left">64</td><td>year:SpeciesPapaver radicatum</td><td>-0.02</td><td>-0.23</td><td>0.23</td><td>3,000</td><td>0.89</td><td>fixed</td></tr>
<tr><td style="text-align:left">65</td><td>year:SpeciesPedicularis capitata</td><td>0.002</td><td>-0.24</td><td>0.24</td><td>3,000</td><td>0.99</td><td>fixed</td></tr>
<tr><td style="text-align:left">66</td><td>year:SpeciesPedicularis lanata</td><td>-0.06</td><td>-0.30</td><td>0.17</td><td>3,211.48</td><td>0.64</td><td>fixed</td></tr>
<tr><td style="text-align:left">67</td><td>year:SpeciesPedicularis longsdorfi</td><td>-0.03</td><td>-0.27</td><td>0.21</td><td>3,000</td><td>0.84</td><td>fixed</td></tr>
<tr><td style="text-align:left">68</td><td>year:SpeciesPedicularis sudetica</td><td>-0.03</td><td>-0.29</td><td>0.21</td><td>3,000</td><td>0.81</td><td>fixed</td></tr>
<tr><td style="text-align:left">69</td><td>year:SpeciesPedicularis vertisilata</td><td>-0.02</td><td>-0.26</td><td>0.22</td><td>3,373.88</td><td>0.87</td><td>fixed</td></tr>
<tr><td style="text-align:left">70</td><td>year:SpeciesPoa alpina</td><td>-0.02</td><td>-0.26</td><td>0.22</td><td>3,000</td><td>0.86</td><td>fixed</td></tr>
<tr><td style="text-align:left">71</td><td>year:SpeciesPoa arctica</td><td>0.47</td><td>0.23</td><td>0.71</td><td>3,000</td><td>0.001</td><td>fixed</td></tr>
<tr><td style="text-align:left">72</td><td>year:SpeciesPolygonum bistorta</td><td>0.13</td><td>-0.12</td><td>0.37</td><td>3,000</td><td>0.29</td><td>fixed</td></tr>
<tr><td style="text-align:left">73</td><td>year:SpeciesPolygonum viviparum</td><td>-0.02</td><td>-0.25</td><td>0.22</td><td>3,369.73</td><td>0.85</td><td>fixed</td></tr>
<tr><td style="text-align:left">74</td><td>year:SpeciesPyrola grandiflora</td><td>-0.03</td><td>-0.27</td><td>0.22</td><td>3,000</td><td>0.84</td><td>fixed</td></tr>
<tr><td style="text-align:left">75</td><td>year:SpeciesSalix arctica</td><td>-0.04</td><td>-0.28</td><td>0.20</td><td>3,000</td><td>0.75</td><td>fixed</td></tr>
<tr><td style="text-align:left">76</td><td>year:SpeciesSalix phlebophylla</td><td>0.02</td><td>-0.22</td><td>0.25</td><td>3,000</td><td>0.87</td><td>fixed</td></tr>
<tr><td style="text-align:left">77</td><td>year:SpeciesSalix pulchra</td><td>0.95</td><td>0.72</td><td>1.18</td><td>3,000</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">78</td><td>year:SpeciesSalix reticulata</td><td>0.17</td><td>-0.07</td><td>0.40</td><td>3,000</td><td>0.16</td><td>fixed</td></tr>
<tr><td style="text-align:left">79</td><td>year:SpeciesSaussurea angustifolia</td><td>-0.02</td><td>-0.27</td><td>0.20</td><td>3,000</td><td>0.85</td><td>fixed</td></tr>
<tr><td style="text-align:left">80</td><td>year:SpeciesSaxifraga nelsoniana</td><td>-0.005</td><td>-0.23</td><td>0.24</td><td>3,000</td><td>0.97</td><td>fixed</td></tr>
<tr><td style="text-align:left">81</td><td>year:SpeciesSenecio astropurpureus</td><td>-0.06</td><td>-0.32</td><td>0.16</td><td>3,000</td><td>0.63</td><td>fixed</td></tr>
<tr><td style="text-align:left">82</td><td>year:SpeciesStellaria longipes</td><td>0.08</td><td>-0.13</td><td>0.34</td><td>3,000</td><td>0.51</td><td>fixed</td></tr>
<tr><td style="text-align:left">83</td><td>year:SpeciesThamnolia subuliformis</td><td>-0.19</td><td>-0.43</td><td>0.06</td><td>3,000</td><td>0.12</td><td>fixed</td></tr>
<tr><td style="text-align:left">84</td><td>year:SpeciesValeriana capitata</td><td>-0.02</td><td>-0.27</td><td>0.21</td><td>3,176.32</td><td>0.87</td><td>fixed</td></tr>
<tr><td style="text-align:left">85</td><td>year</td><td>0.35</td><td>0.06</td><td>0.85</td><td>2,375.50</td><td></td><td>random</td></tr>
<tr><td style="text-align:left">86</td><td>PLOT</td><td>0.34</td><td>0.04</td><td>0.85</td><td>3,000</td><td></td><td>random</td></tr>
<tr><td style="text-align:left">87</td><td>units</td><td>12.98</td><td>12.23</td><td>13.85</td><td>3,000</td><td></td><td>residual</td></tr>
<tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr></table>
</html>
