<html>
<table style="text-align:center"><tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>variable</td><td>post.mean</td><td>l.95..CI</td><td>u.95..CI</td><td>eff.samp</td><td>pMCMC</td><td>effect</td></tr>
<tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>year</td><td>0.02</td><td>-0.26</td><td>0.29</td><td>3,000</td><td>0.86</td><td>fixed</td></tr>
<tr><td style="text-align:left">2</td><td>SpeciesAlectoria ochroleuca</td><td>-49.41</td><td>-587.83</td><td>517.22</td><td>3,000</td><td>0.86</td><td>fixed</td></tr>
<tr><td style="text-align:left">3</td><td>SpeciesAlopecurus alpinus</td><td>-4,065.22</td><td>-4,590.43</td><td>-3,488.10</td><td>3,107.31</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">4</td><td>SpeciesArctagrostis latifolia</td><td>-1,872.72</td><td>-2,420.31</td><td>-1,310.95</td><td>3,000</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">5</td><td>SpeciesAstralagus umbelletus</td><td>53.41</td><td>-505.22</td><td>611.94</td><td>3,420.58</td><td>0.85</td><td>fixed</td></tr>
<tr><td style="text-align:left">6</td><td>SpeciesCardamine bellidifolia</td><td>3.32</td><td>-560.81</td><td>551.53</td><td>3,000</td><td>0.99</td><td>fixed</td></tr>
<tr><td style="text-align:left">7</td><td>SpeciesCardamine digitalis</td><td>-135.52</td><td>-715.85</td><td>426.96</td><td>3,217.03</td><td>0.63</td><td>fixed</td></tr>
<tr><td style="text-align:left">8</td><td>SpeciesCetraria cucculata</td><td>233.61</td><td>-320.66</td><td>827.40</td><td>3,000</td><td>0.41</td><td>fixed</td></tr>
<tr><td style="text-align:left">9</td><td>SpeciesCetraria islandica</td><td>85.73</td><td>-477.65</td><td>634.25</td><td>3,000</td><td>0.77</td><td>fixed</td></tr>
<tr><td style="text-align:left">10</td><td>SpeciesCetraria nivalis</td><td>2.04</td><td>-524.62</td><td>576.11</td><td>3,000</td><td>0.98</td><td>fixed</td></tr>
<tr><td style="text-align:left">11</td><td>SpeciesCladina mitis</td><td>-31.07</td><td>-596.40</td><td>527.84</td><td>3,000</td><td>0.91</td><td>fixed</td></tr>
<tr><td style="text-align:left">12</td><td>SpeciesDactylina arctica</td><td>-42.58</td><td>-574.89</td><td>514.04</td><td>3,000</td><td>0.89</td><td>fixed</td></tr>
<tr><td style="text-align:left">13</td><td>SpeciesDryas integrifolia</td><td>-176.36</td><td>-692.10</td><td>366.50</td><td>2,765.09</td><td>0.52</td><td>fixed</td></tr>
<tr><td style="text-align:left">14</td><td>SpeciesEriophorum vaginatum</td><td>-1.76</td><td>-562.95</td><td>529.19</td><td>2,729.02</td><td>0.99</td><td>fixed</td></tr>
<tr><td style="text-align:left">15</td><td>SpeciesFestuca baffinensis</td><td>2.79</td><td>-569.60</td><td>529.04</td><td>2,788.87</td><td>1</td><td>fixed</td></tr>
<tr><td style="text-align:left">16</td><td>SpeciesHierochloe alpine</td><td>-7.56</td><td>-562.36</td><td>565.70</td><td>3,000</td><td>0.94</td><td>fixed</td></tr>
<tr><td style="text-align:left">17</td><td>SpeciesLagostis glauca</td><td>-74.79</td><td>-680.04</td><td>460.50</td><td>3,000</td><td>0.80</td><td>fixed</td></tr>
<tr><td style="text-align:left">18</td><td>SpeciesLupinus arcticus</td><td>-455.40</td><td>-1,023.37</td><td>117.25</td><td>3,346.34</td><td>0.12</td><td>fixed</td></tr>
<tr><td style="text-align:left">19</td><td>SpeciesLuzula arctica</td><td>-100.12</td><td>-680.10</td><td>459.18</td><td>3,202.53</td><td>0.73</td><td>fixed</td></tr>
<tr><td style="text-align:left">20</td><td>SpeciesOxytropis campestris</td><td>-43.19</td><td>-587.00</td><td>529.43</td><td>3,000</td><td>0.87</td><td>fixed</td></tr>
<tr><td style="text-align:left">21</td><td>SpeciesOxytropis maydalliana</td><td>-11.92</td><td>-550.69</td><td>537.63</td><td>3,253.51</td><td>0.96</td><td>fixed</td></tr>
<tr><td style="text-align:left">22</td><td>SpeciesOxytropis nigrescens</td><td>32.35</td><td>-516.07</td><td>556.00</td><td>3,000</td><td>0.92</td><td>fixed</td></tr>
<tr><td style="text-align:left">23</td><td>SpeciesPapaver radicatum</td><td>11.13</td><td>-544.45</td><td>551.99</td><td>2,765.95</td><td>0.97</td><td>fixed</td></tr>
<tr><td style="text-align:left">24</td><td>SpeciesParrya nudicalis</td><td>-0.51</td><td>-600.71</td><td>533.87</td><td>3,000</td><td>0.99</td><td>fixed</td></tr>
<tr><td style="text-align:left">25</td><td>SpeciesPedicularis capitata</td><td>-6.16</td><td>-539.79</td><td>557.11</td><td>3,000</td><td>0.99</td><td>fixed</td></tr>
<tr><td style="text-align:left">26</td><td>SpeciesPedicularis lanata</td><td>138.80</td><td>-404.50</td><td>698.36</td><td>3,000</td><td>0.62</td><td>fixed</td></tr>
<tr><td style="text-align:left">27</td><td>SpeciesPedicularis sudetica</td><td>10.70</td><td>-561.24</td><td>565.33</td><td>3,000</td><td>0.96</td><td>fixed</td></tr>
<tr><td style="text-align:left">28</td><td>SpeciesPedicularis vertisilata</td><td>-59.20</td><td>-618.72</td><td>502.79</td><td>2,757.53</td><td>0.83</td><td>fixed</td></tr>
<tr><td style="text-align:left">29</td><td>SpeciesPoa arctica</td><td>145.10</td><td>-388.83</td><td>744.46</td><td>3,000</td><td>0.63</td><td>fixed</td></tr>
<tr><td style="text-align:left">30</td><td>SpeciesPolygonum bistorta</td><td>-64.36</td><td>-662.63</td><td>469.41</td><td>3,000</td><td>0.83</td><td>fixed</td></tr>
<tr><td style="text-align:left">31</td><td>SpeciesPolygonum viviparum</td><td>-14.68</td><td>-556.11</td><td>553.36</td><td>3,000</td><td>0.95</td><td>fixed</td></tr>
<tr><td style="text-align:left">32</td><td>SpeciesPyrola grandiflora</td><td>-24.40</td><td>-598.32</td><td>506.30</td><td>3,000</td><td>0.93</td><td>fixed</td></tr>
<tr><td style="text-align:left">33</td><td>SpeciesSalix arctica</td><td>-808.32</td><td>-1,361.74</td><td>-256.07</td><td>3,000</td><td>0.003</td><td>fixed</td></tr>
<tr><td style="text-align:left">34</td><td>SpeciesSalix pulchra</td><td>0.82</td><td>-525.46</td><td>559.51</td><td>3,000</td><td>1.00</td><td>fixed</td></tr>
<tr><td style="text-align:left">35</td><td>SpeciesSalix reticulata</td><td>-1.64</td><td>-546.44</td><td>539.55</td><td>3,000</td><td>1.00</td><td>fixed</td></tr>
<tr><td style="text-align:left">36</td><td>SpeciesSaussurea angustifolia</td><td>15.49</td><td>-573.44</td><td>551.88</td><td>2,506.20</td><td>0.95</td><td>fixed</td></tr>
<tr><td style="text-align:left">37</td><td>SpeciesSenecio astropurpureus</td><td>16.82</td><td>-542.29</td><td>568.18</td><td>3,000</td><td>0.96</td><td>fixed</td></tr>
<tr><td style="text-align:left">38</td><td>SpeciesStellaria longipes</td><td>133.52</td><td>-440.52</td><td>683.64</td><td>3,000</td><td>0.65</td><td>fixed</td></tr>
<tr><td style="text-align:left">39</td><td>SpeciesThamnolia subuliformis</td><td>241.38</td><td>-299.68</td><td>779.26</td><td>3,172.13</td><td>0.38</td><td>fixed</td></tr>
<tr><td style="text-align:left">40</td><td>year:SpeciesAlopecurus alpinus</td><td>2.00</td><td>1.61</td><td>2.40</td><td>3,268.25</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">41</td><td>year:SpeciesArctagrostis latifolia</td><td>0.91</td><td>0.55</td><td>1.32</td><td>3,000</td><td>0.0003</td><td>fixed</td></tr>
<tr><td style="text-align:left">42</td><td>year:SpeciesAstralagus umbelletus</td><td>-0.05</td><td>-0.42</td><td>0.34</td><td>3,937.75</td><td>0.82</td><td>fixed</td></tr>
<tr><td style="text-align:left">43</td><td>year:SpeciesCardamine bellidifolia</td><td>-0.03</td><td>-0.40</td><td>0.37</td><td>3,000</td><td>0.88</td><td>fixed</td></tr>
<tr><td style="text-align:left">44</td><td>year:SpeciesCardamine digitalis</td><td>0.04</td><td>-0.32</td><td>0.44</td><td>3,654.28</td><td>0.84</td><td>fixed</td></tr>
<tr><td style="text-align:left">45</td><td>year:SpeciesCetraria cucculata</td><td>-0.14</td><td>-0.52</td><td>0.26</td><td>3,000</td><td>0.48</td><td>fixed</td></tr>
<tr><td style="text-align:left">46</td><td>year:SpeciesCetraria islandica</td><td>-0.07</td><td>-0.44</td><td>0.31</td><td>3,312.32</td><td>0.73</td><td>fixed</td></tr>
<tr><td style="text-align:left">47</td><td>year:SpeciesCetraria nivalis</td><td>-0.03</td><td>-0.38</td><td>0.38</td><td>3,000</td><td>0.88</td><td>fixed</td></tr>
<tr><td style="text-align:left">48</td><td>year:SpeciesCladina mitis</td><td>-0.01</td><td>-0.38</td><td>0.39</td><td>3,000</td><td>0.95</td><td>fixed</td></tr>
<tr><td style="text-align:left">49</td><td>year:SpeciesDactylina arctica</td><td>-0.003</td><td>-0.38</td><td>0.38</td><td>3,000</td><td>0.96</td><td>fixed</td></tr>
<tr><td style="text-align:left">50</td><td>year:SpeciesDryas integrifolia</td><td>0.09</td><td>-0.29</td><td>0.46</td><td>3,000</td><td>0.62</td><td>fixed</td></tr>
<tr><td style="text-align:left">51</td><td>year:SpeciesEriophorum vaginatum</td><td>-0.02</td><td>-0.43</td><td>0.33</td><td>3,000</td><td>0.91</td><td>fixed</td></tr>
<tr><td style="text-align:left">52</td><td>year:SpeciesFestuca baffinensis</td><td>-0.02</td><td>-0.40</td><td>0.37</td><td>3,000</td><td>0.91</td><td>fixed</td></tr>
<tr><td style="text-align:left">53</td><td>year:SpeciesHierochloe alpine</td><td>-0.02</td><td>-0.42</td><td>0.35</td><td>3,000</td><td>0.92</td><td>fixed</td></tr>
<tr><td style="text-align:left">54</td><td>year:SpeciesLagostis glauca</td><td>0.01</td><td>-0.37</td><td>0.41</td><td>3,508.66</td><td>0.97</td><td>fixed</td></tr>
<tr><td style="text-align:left">55</td><td>year:SpeciesLupinus arcticus</td><td>0.20</td><td>-0.20</td><td>0.60</td><td>3,000</td><td>0.30</td><td>fixed</td></tr>
<tr><td style="text-align:left">56</td><td>year:SpeciesLuzula arctica</td><td>0.03</td><td>-0.38</td><td>0.38</td><td>3,000</td><td>0.90</td><td>fixed</td></tr>
<tr><td style="text-align:left">57</td><td>year:SpeciesOxytropis campestris</td><td>-0.003</td><td>-0.37</td><td>0.40</td><td>3,000</td><td>1.00</td><td>fixed</td></tr>
<tr><td style="text-align:left">58</td><td>year:SpeciesOxytropis maydalliana</td><td>-0.02</td><td>-0.40</td><td>0.37</td><td>3,000</td><td>0.95</td><td>fixed</td></tr>
<tr><td style="text-align:left">59</td><td>year:SpeciesOxytropis nigrescens</td><td>-0.04</td><td>-0.41</td><td>0.34</td><td>3,000</td><td>0.85</td><td>fixed</td></tr>
<tr><td style="text-align:left">60</td><td>year:SpeciesPapaver radicatum</td><td>-0.03</td><td>-0.43</td><td>0.34</td><td>3,000</td><td>0.87</td><td>fixed</td></tr>
<tr><td style="text-align:left">61</td><td>year:SpeciesParrya nudicalis</td><td>-0.02</td><td>-0.43</td><td>0.34</td><td>3,168.46</td><td>0.91</td><td>fixed</td></tr>
<tr><td style="text-align:left">62</td><td>year:SpeciesPedicularis capitata</td><td>-0.02</td><td>-0.41</td><td>0.35</td><td>3,205.34</td><td>0.94</td><td>fixed</td></tr>
<tr><td style="text-align:left">63</td><td>year:SpeciesPedicularis lanata</td><td>-0.09</td><td>-0.46</td><td>0.29</td><td>3,000</td><td>0.63</td><td>fixed</td></tr>
<tr><td style="text-align:left">64</td><td>year:SpeciesPedicularis sudetica</td><td>-0.03</td><td>-0.40</td><td>0.37</td><td>3,000</td><td>0.88</td><td>fixed</td></tr>
<tr><td style="text-align:left">65</td><td>year:SpeciesPedicularis vertisilata</td><td>0.01</td><td>-0.39</td><td>0.37</td><td>3,000</td><td>0.97</td><td>fixed</td></tr>
<tr><td style="text-align:left">66</td><td>year:SpeciesPoa arctica</td><td>-0.09</td><td>-0.47</td><td>0.28</td><td>3,000</td><td>0.63</td><td>fixed</td></tr>
<tr><td style="text-align:left">67</td><td>year:SpeciesPolygonum bistorta</td><td>0.01</td><td>-0.39</td><td>0.41</td><td>3,000</td><td>0.98</td><td>fixed</td></tr>
<tr><td style="text-align:left">68</td><td>year:SpeciesPolygonum viviparum</td><td>-0.02</td><td>-0.39</td><td>0.38</td><td>3,000</td><td>0.94</td><td>fixed</td></tr>
<tr><td style="text-align:left">69</td><td>year:SpeciesPyrola grandiflora</td><td>-0.01</td><td>-0.41</td><td>0.36</td><td>3,000</td><td>0.93</td><td>fixed</td></tr>
<tr><td style="text-align:left">70</td><td>year:SpeciesSalix arctica</td><td>0.39</td><td>0.01</td><td>0.77</td><td>3,000</td><td>0.04</td><td>fixed</td></tr>
<tr><td style="text-align:left">71</td><td>year:SpeciesSalix pulchra</td><td>-0.03</td><td>-0.40</td><td>0.35</td><td>3,258.20</td><td>0.90</td><td>fixed</td></tr>
<tr><td style="text-align:left">72</td><td>year:SpeciesSalix reticulata</td><td>-0.02</td><td>-0.39</td><td>0.38</td><td>3,000</td><td>0.91</td><td>fixed</td></tr>
<tr><td style="text-align:left">73</td><td>year:SpeciesSaussurea angustifolia</td><td>-0.03</td><td>-0.41</td><td>0.37</td><td>3,000</td><td>0.87</td><td>fixed</td></tr>
<tr><td style="text-align:left">74</td><td>year:SpeciesSenecio astropurpureus</td><td>-0.03</td><td>-0.42</td><td>0.35</td><td>3,418.22</td><td>0.87</td><td>fixed</td></tr>
<tr><td style="text-align:left">75</td><td>year:SpeciesStellaria longipes</td><td>-0.09</td><td>-0.47</td><td>0.30</td><td>3,000</td><td>0.64</td><td>fixed</td></tr>
<tr><td style="text-align:left">76</td><td>year:SpeciesThamnolia subuliformis</td><td>-0.14</td><td>-0.51</td><td>0.24</td><td>3,000</td><td>0.44</td><td>fixed</td></tr>
<tr><td style="text-align:left">77</td><td>year</td><td>0.28</td><td>0.06</td><td>0.62</td><td>3,000</td><td></td><td>random</td></tr>
<tr><td style="text-align:left">78</td><td>PLOT</td><td>0.40</td><td>0.07</td><td>1.03</td><td>3,207.41</td><td></td><td>random</td></tr>
<tr><td style="text-align:left">79</td><td>units</td><td>44.33</td><td>41.82</td><td>47.02</td><td>3,000</td><td></td><td>residual</td></tr>
<tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr></table>
</html>
