<html>
<table style="text-align:center"><tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>variable</td><td>post.mean</td><td>l.95..CI</td><td>u.95..CI</td><td>eff.samp</td><td>pMCMC</td><td>effect</td></tr>
<tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>(Intercept)</td><td>-3.08</td><td>-4.99</td><td>-1.29</td><td>2,980.02</td><td>0.005</td><td>fixed</td></tr>
<tr><td style="text-align:left">2</td><td>I(year - 1998)</td><td>-0.11</td><td>-0.21</td><td>0.0001</td><td>1,701.44</td><td>0.05</td><td>fixed</td></tr>
<tr><td style="text-align:left">3</td><td>year</td><td>0.97</td><td>0.12</td><td>2.43</td><td>79.20</td><td></td><td>random</td></tr>
<tr><td style="text-align:left">4</td><td>PLOT</td><td>1.18</td><td>0.15</td><td>2.91</td><td>3,666.55</td><td></td><td>random</td></tr>
<tr><td style="text-align:left">5</td><td>units</td><td>0.04</td><td>0.0002</td><td>0.14</td><td>363.66</td><td></td><td>residual</td></tr>
<tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr></table>
</html>
