<html>
<table style="text-align:center"><tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>variable</td><td>post.mean</td><td>l.95..CI</td><td>u.95..CI</td><td>eff.samp</td><td>pMCMC</td><td>effect</td></tr>
<tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>(Intercept)</td><td>0.15</td><td>-1.09</td><td>1.38</td><td>8,000</td><td>0.80</td><td>fixed</td></tr>
<tr><td style="text-align:left">2</td><td>I(year - 1998)</td><td>0.07</td><td>0.01</td><td>0.13</td><td>8,000</td><td>0.02</td><td>fixed</td></tr>
<tr><td style="text-align:left">3</td><td>year</td><td>0.32</td><td>0.07</td><td>0.70</td><td>7,644.38</td><td></td><td>random</td></tr>
<tr><td style="text-align:left">4</td><td>PLOT</td><td>1.03</td><td>0.17</td><td>2.50</td><td>8,000</td><td></td><td>random</td></tr>
<tr><td style="text-align:left">5</td><td>units</td><td>0.10</td><td>0.03</td><td>0.18</td><td>4,175.31</td><td></td><td>residual</td></tr>
<tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr></table>
</html>
