<html>
<table style="text-align:center"><tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>variable</td><td>post.mean</td><td>l.95..CI</td><td>u.95..CI</td><td>eff.samp</td><td>pMCMC</td><td>effect</td></tr>
<tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">1</td><td>(Intercept)</td><td>-3.31</td><td>-4.57</td><td>-2.10</td><td>3,119.36</td><td>0.0005</td><td>fixed</td></tr>
<tr><td style="text-align:left">2</td><td>I(year - 1998)</td><td>0.04</td><td>-0.01</td><td>0.09</td><td>1,908.91</td><td>0.11</td><td>fixed</td></tr>
<tr><td style="text-align:left">3</td><td>year</td><td>0.20</td><td>0.05</td><td>0.44</td><td>6,906.07</td><td></td><td>random</td></tr>
<tr><td style="text-align:left">4</td><td>PLOT</td><td>1.47</td><td>0.21</td><td>3.59</td><td>8,000</td><td></td><td>random</td></tr>
<tr><td style="text-align:left">5</td><td>units</td><td>0.01</td><td>0.0002</td><td>0.05</td><td>617.54</td><td></td><td>residual</td></tr>
<tr><td colspan="8" style="border-bottom: 1px solid black"></td></tr></table>
</html>
